@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply
    flex
    justify-center
    items-center
    w-full
    h-screen
}

/*--------------Home Page---------------*/
.homePage{
  @apply
  h-screen
}
.presentation-page{
  background-image: url("../public/image/background.jpg");
  background-size: 1700px auto;
  background-position: 0vw 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  margin: 0;
  transition: margin 500ms;
  @apply
  transition-all
  duration-500
  ease-in
}
.presentation-page.changeScale{
  margin: auto;
  height: 75vh;
  @apply
  w-11/12
  rounded-3xl
}
/*---Button---*/
.entry-button{
  @apply
  bg-white
  h-16
  w-40
  flex
  items-center
  justify-center
  text-xl
  rounded-full
  opacity-70
  cursor-pointer
  hover:bg-black
  hover:w-16
  hover:rotate-180
  transition-all
  duration-1000
}
.entry-button:hover > .text-button{
  @apply
  hidden
}
.arrow{
  @apply
  hidden
}
.entry-button:hover > .arrow{
  @apply
  h-1/2
  w-1/2
  text-white
  block
}
/*---Logo and Name---*/
.logo-and-name{
  width: 50%;
  @apply
  flex
  items-center
  justify-center
  cursor-default
  transition-all
  duration-1000
}
.companyName{
  font-size: 9rem;
  color: #013187;
  width: 50%;
  padding-left: 35px;
}
.logo{
  width: 50%;
  height: 500px;
  position: relative;
}
.logo-blue-part{
  background-image: url("../public/image/logo-blue-part.png");
  background-size: 200px auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 110px;
  width: 205px;
  height: 205px;
}
.logo-red-part{
  background-image: url("../public/image/logo-red-part.png");
  background-size: 200px auto;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 108px;
  width: 205px;
  height: 205px;
}
.hideLN{
  width: 0;
  padding-left: 0;
  animation: disappear 1000ms forwards;
}
.hide{
  width: 0;
  @apply
  hidden
}
/*---animation home page---*/
@keyframes disappear {
  from{
    width: 50%;
  }
  to{
    width: 0;
    @apply
    hidden
  }
}

/*-----------Presentation Page-----------*/
/*---Card---*/
.fondateur{
  @apply
  rounded-full
}
.presentation-card{
  @apply
    flex
    justify-between
    items-center
    w-4/5
    h-4/5
}
.title-card{
  @apply
    flex
    flex-col
    items-center
    justify-around
    text-white
    w-2/6
    h-3/4
    bg-red-600
    opacity-80
    rounded-3xl
  p-5
}
.title-card > h2{
  font-size: 1.5rem;
  @apply
  text-center
}
.description-card{
  @apply
    w-3/5
    h-3/4
    flex
    items-center
    bg-white
    opacity-70
    rounded-2xl
    p-5
}
.text-card{
  @apply
  text-black
  h-fit

}
.text-card > ul{
  padding-left: 35px;
  list-style-type: circle;
}

